H1 {
    color:rgb(255, 94, 0);
    font-weight:bold;
}
p { color : green; }

.center { text-align : center; color : red; }

#welcome { text-align : center; color : red; }

p.furnitureType { text-align : center; color : red; }