body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana;
 }

 header {
    font-weight: bold;
 }
 .headerlogo {
    float: left;
    margin-right: 10px;
 }
    .headerlogo > img {
        height: 60px;
        width: 60px;
    }

    #headername {
        font-size: 40px;
        font-family: headerfont;
        text-shadow: 5px 5px 5px #a88070;
        color: #6d3e16;
        padding: 15px;
        margin: 8px 0px;
        font-weight: bold;
     }
     @font-face {
        font-family: headerfont;
        src: url('../fonts/Lobster_1.3.otf');
     }

     nav {
        height: 45px;
        width: 100%;
        margin-bottom: 5px;
        margin-top: 20px;
        padding-left: 5px;
     }
        nav ul {
            list-style: none;
            padding: 0px;
        }
            nav ul li {
                display: block;
            }
            .backgroundgradient {
                background: -webkit-linear-gradient(left, #9c591e, #723a05); 
                /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient(right, #9c591e, #723a05);
                /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient(right, #9c591e, #723a05);
                /* For Firefox 3.6 to 15 */
                background: linear-gradient(to right, #9c591e, #723a05);
            }
            .navlink {
                width: 145px;
                height: 35px;
                margin-right: 10px;
                font-size: 18px;
                float: left;
                padding-top: 12px;
                color: white;
                text-decoration: none;
            }
                .navlink:active {
                }
                .navlink > img {
                    height: 16px;
                }

                #welcomeimage {
                    float: left;
                    width: 700px;
                 }
                 
                 #furnitureofthemonth {
                    float: right;
                    width: 290px;
                 }

                 #welcometext {
                    float: left;
                    width: 70%;
                    font-size: 12px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    -webkit-column-count: 2; /* Chrome, Safari, Opera */
                    -moz-column-count: 2; /* Firefox */
                    column-count:2;
                 
                 }
                 
                    #welcometext > header {
                        color: #9c591e;
                        font-size: 15px;
                        font-weight: bold;
                        margin-bottom: 3px;
                    }
                 
                 #events {
                    float: right;
                    width: 30%;
                    margin-top: 20px;
                    margin-bottom: 20px;
                 }
                 
                    #events > header {
                        margin-left: 10px;
                        color: #9c591e;
                        font-size: 15px;
                        margin-bottom: 3px;
                        font-weight: bold;
                    }
                    #events > ul {
                        list-style: none;
                    }
                        #events > ul > li {
                            margin-bottom: 3px;
                        }

                        #bestsellers {
                            height: 100%;
                            width: 700px;
                            float: left;
                            margin-bottom: 20px;
                         }
                         
                            #bestsellers > header {
                                color: #9c591e;
                                font-size: 15px;
                                font-weight: bold;
                            }

                            .furniturebestsellers {
                                float: left;
                             }
                             
                                .furniturebestsellers > header {
                                    background-color: #9c591e;
                                    color: white;
                                    padding-left: 10px;
                                }
                             
                             .accessoriesbestsellers {
                                clear: both;
                             }
                             
                                .accessoriesbestsellers > header {
                                    height: 30px;
                                    line-height: 30px;
                                    background-color: #9c591e;
                                    color: white;
                                    padding-left: 10px;
                                }

                                .productarticle {
                                    width: 200px;
                                    float: left;
                                    margin-left: 25px;
                                    margin-bottom: 10px;
                                 }
                                 
                                 .productarticlethumbnail {
                                    width: 100px;
                                    height: 100px;
                                 }
                                 
                                 .productarticlename {
                                    font-size: 15px;
                                    color: #9c591e;
                                    font-weight: bold;
                                 }
                                 figure {
                                    display: block;
                                    margin-top: 1em;
                                    margin-bottom: 1em;
                                    margin-left: 0px;
                                    margin-right: 40px;
                                 }
                                 .productarticleprice {
                                    font-size: 15px;
                                    color: green;
                                    font-weight: bold;
                                    padding-top: 15px;
                                 }

/*furniture detail page*/
.furnituredetails {
    float: left;
    width: 1000px;
 }
 .productarticlelargeimage {
    width: 200px;
    height: 300px;
  }
 .productarticlelargefigure {
    float: left;
    margin: 10px;
 }
 
 
 
/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 3px;
 }
 
 /* Style the images inside the grid */
 .column img {
    width: 50px;
    opacity: 0.8;
    cursor: pointer;
 }
 
 .column img:hover {
    opacity: 1;
 }
 
 /* Clear floats after the columns */
 .row:after {
    content: "";
    display: table;
    clear: both;
 }
 
 .productarticlecontent {
    width:75%;
    float: right;
 }
 
 .productarticledescription {
    word-wrap: normal;
 }
 
 .productarticleprice {
    font-size: 25px;
    color: green;
    font-weight: bold;
    padding-top: 5px;
 }

 
 .button {
    cursor: pointer;
    padding: 4px 25px;
    background: #9c591e;
    border: 1px solid #381f09;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
    box-shadow: 0 0 4px rgba(0,0,0, .75);
    color: #f3f3f3;
    font-size: 0.8em;
    width: 80px;
 }
 
    .button:hover, .addtocartbutton:focus {
        background-color: #512c0a;
        -webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
        -moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
        box-shadow: 0 0 1px rgba(0,0,0, .75);
    }
 
footer {
    clear: both;
    width: 100%;
    background-color: #3d2510;
    color:#948c66;
    margin: 20px 0px 20px;
    padding: 5px;
 }

 .smalltext {
    font-size: 10px;
 }
 

 /*All furnitures page styles*/
.blockheader {
    font-size: 30px;
    font-family: headerfont;
    margin-top: 20px;
    margin-bottom: 10px;
 }
 
 .productarticlewide {
    width: 100%;
    float: left;
 }
 
 .productarticlewidethumbnail {
    width: 100px;
    height: 150px;
    float: left;
    margin: 20px;
 }
 
 .productarticlewidecontent {
    width: 80%;
    float: right;
 }
 
 .productarticlewidedescription {
    text-wrap: normal;
 }
 
 .productarticlewidename {
    font-size: 15px;
    color: #9c591e;
    font-weight: bold;
    margin-top: 5px;
 }
 
 .productarticlewideprice {
    font-size: 15px;
    color: green;
    font-weight: bold;
    padding-top: 15px;
 }
 
 .allfurnitures {
    float: left;
    width: 750px;
 }
 
 #shoppingcart {
    float: left;
    width: 175px;
 }
 